@charset "utf-8";

html, body{
	margin: 0 auto;
	width: 960px;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}
html *{
	outline: 0;
	box-sizing: border-box;
	letter-spacing: -0.01em;
	line-height: 1.5;
}
a{
	width: 180px;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	color: black;
	font-weight: normal;
	font-size: 20px;
}
ul{
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	list-style: none;
	line-height: 1.5;
}
li{
	display: list-item;
	list-style-position: inside;

}
img {
	border: 0;
	width: 325px;
}
.tit{
	margin: 0 0 21px;
	color: #111;
	font-size: 62px;
}
.img_section, .m_align_l{
	text-align: left;
}
@media screen and (max-width: 1600px) {
	.img_section {
		margin-bottom: 80px;
	}
}
.img_section{
	width: 100%;
}
a:hover{
	text-decoration: underline;
}
@media screen and (max-width: 1600px) {
	.tit{
		margin-bottom: 15px;
		font-size: 72px;
		font-weight: bold;
		line-height: 1.18;
		letter-spacing: -1.2px;
	}
}
@media screen and (max-width: 1600px) {
	.inner_con{
		padding: 114px 0 0 147px;
	}
}
@media screen and (max-width: 1600px) {
	.artist_list{
		top: 435px;
		left: 150px;
		z-index: 1;
	}
}
.artist_list{
	position: sticky;
	top: 100px;
}
@media screen and (mwx-width: 1600px) {
	.artist_list li a{
		font-size: 22px;
		font-weight: 400;
		letter-spacing: -0.4px;
		line-height: 1.45;
	}
}
.artist_list li a{
	display: block;
}
.img_section, .artist_lmg_box > img{
	width: 100%;
}