@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a, a:link, a:visited{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
html{
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}
body{
	width: 1140px;
	margin: 0 auto;
}
.tit{
	margin: 0 20px;
	color: #111;
	font-size: 65px;
}
.artist_list{
	display: inline-flex;
	flex-direction: column;
	position: sticky;
	top: 10%;
	line-height: 1.5;
	font-weight: normal;
	font-size: 20px;
	z-index: 1;
}
.img_section{
	position: relative;
	margin-bottom: 7%;
}
a:hover{
	text-decoration: underline;
}
.artist_img_box.h_photo{
	margin-left: 460px;
	width: 465px;
}
@media screen and (max-width: 1140px){
	.artist_img_box.h_photo{
    width: 325px;
}
img{
	border-style: none;
}
@media screen and (max-width: 1140px){
	.artist_img_box.mg_03{
  margin-left: 390px;
}
section::after{
	content: "";
	display: block;
	clear: both;
}
	.artist_img_box > img {
	width: 100%;
}
	.mg_03{
	margin-left: 564px;
}
@media screen and (max-width: 1140px){
	.artist_img_box .mg_02 {
    margin-left: 260px;
}
	.artist_img_box .mg_02 {
	margin-left: 408px;
}
@media screen and (max-width: 1440px){
	.mg_01 {
    margin-left: 130px;
}
	.mg_01 {
	margin-left: 192px;
}