@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a, a:link, a:visited{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
html{
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}
.inner_con{
	width: 1140px;
	margin: 0 auto;
}
.tit{
	margin: 0 20px;
	color: #111;
	font-size: 65px;
}
.artist_list{
	display: inline-flex;
	flex-direction: column;
	position: sticky;
	top: 10%;
	line-height: 1.5;
	font-weight: normal;
	font-size: 20px;
	z-index: 1;
}
.img_section{
	margin-bottom: 7%;
	position: relative;
	left: 30%;
}
a:hover{
	text-decoration: underline;
}
img{
	width: 35%;
}