@charset "utf-8";

.container{
	width: 300px;
	height: 200px;
	background-color: #c4c4c4;
	border: 1px solid black;
	display: inline-flex;
	/* flex-direction: column-reverse; */
	/* flex-wrap: wrap; */
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
}
.item{
	color: white;
	background-color: #ff5252;

}
.item:nth-child(2n){
	background-color: #bf5e5e;
	/* align-self: flex-start; */

}
