.cute {
    border: 10px ridge brown;
    background-color: white;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.cute img {
    width: 30%;
}

.cute p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}
